vsphere_datacenter              = ""
vsphere_drs_cluster             = ""
vm_template                     = ""
vsphere_vcenter                 = ""
vsphere_user                    = ""
vsphere_password                = ""
vm_user                         = ""
vm_password                     = ""
vm_privilege_password           = ""